@import '~normalize.css';
@import 'public/style/fonts';
@import 'public/style/var';

body {
  font-family: 'Montserrat';
  background-color: #fffcf9;
  color: $text;
}

.container, .logo {
  display: flex;
  margin: 20px;
  justify-content: center;
}

#playfield, .side-panel {
  background: #ffffff;
  padding: 5px;
  border: 2px solid #bab8b8;
}

.side-panel {
  display: flex;
  margin: 0 5px;
  width: 140px;
  flex-direction: column;

  .score, .top-score, .level, .lines {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .top-score {
    font-weight: 600;
  }

  .value {
    font-weight: 700;
    color: rgb(11, 58, 68);
    font-size: 13px;
  }

  .game-pause {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 17px;
    font-weight: 700;
    color: #53b3cb;
    visibility: hidden;

    .gg-play-pause {
      margin: 0 5px;
    }
  }
}

#next-shape {
  margin-bottom: 0px;
  display: flex;
}

.next-shape {
  margin-top: 20px;

  .text {
    margin-bottom: 10px;
  }
}
