@import '~normalize.css';
@import 'public/style/fonts';
@import 'public/style/var';

body {
  font-family: 'Montserrat';
  background-color: #fff;
  color: $text;
}

.container {
  margin: 20px;
  display: flex;
  justify-content: center;
}

#playfield, .side-panel {
  padding: 5px;
  border: 2px solid #bab8b8;
}

.side-panel {
  margin: 0 5px;
  width: 100px;

  .value {
    font-weight: bold;
    color: rgb(153, 153, 153);
  }
}
